/* You can add global styles to this file, and also import other style files */
$primary: #00293C;
$secondary: #007ab3;
$soft-primary: #6c98ac;
$warning: #cc0000;
$background: #1E656D;
$yellow: #e6e600;

body {
  margin: 0px;
}
i {
  float: left;
}
label {
  margin-bottom: 0;
  display: initial;
}
