@import "../../styles.scss";


.cb-navbar {
  width: 100%;
  height: 10%;
  background-color: $primary;
  color:#e0e0eb;
}
.cb-navbutton {
  background-color: $primary;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color:#e0e0eb;
}

.cb-navbutton:hover i {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  transform: rotate(6deg);
}
.cb-navbutton label {
  font-variant: small-caps;
  font-size: 1.5em;
  padding: 8px;
}
