@import "../../styles.scss";

.menu {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  height: 100%;
  width: 0;
  position: fixed;
  left: 0;
  background-color: $secondary;
  overflow-x: hidden;
  color:#e0e0eb;
}
ul {
  padding-left: 0px;
  margin:0px;
}
li {
  width:100%;
  list-style: none;
  padding: 12px 0px 12px 0px;
  border-bottom: 1px solid rgba(200,200,200,0.3);
  overflow-x: hidden;
}
.menu-icon {
  padding: 4px 8px 0px 8px;
}
li:hover .menu-icon {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-size: 1.5em;
}

.chevron-icon {
  padding: 4px 8px 0px 8px;
}

li:hover .chevron-icon {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-size: 1.3em;
}

li:hover label {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-size: 1.2em;
}

.segment {
  background-color: #ccefff;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  overflow-y: hidden;
  height:0;
  color:black;
  font-family: Arial, Helvetica, sans-serif
}

.segment-active {
  height: 100px;
}
.segment-inactive {
  height: 0;
}

.custom-checkbox .custom-control-input:checked~.red-line::before {
  background-color:$warning;
}

.custom-checkbox .custom-control-input:checked~.yellow-line::before {
  background-color:$yellow;
}
